@font-face {
    font-family: title;
    src: url(../fonts/title.ttf);
}

@font-face {
    font-family: paragraph;
    src: url(../fonts/paragraph.ttf);
}

@font-face {
    font-family: ip_addresses;
    src: url(../fonts/ip_addresses.ttf);
}
