h1 {
  font-family: outer;
  width: 600px;
  color: #4CFF00
}

p {
  font-family: data;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}

.date {
  font-family: outer;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}

.author {
  font-family: outer;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}


blockquote {
  font-family: outer;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}

.hcb-comment-tb {
  font-family: outer;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}

a {
  font-family: data;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}

hr {
	border-color: #4CFF00;
}
.outer {
  font-family: outer;
  font-size: 18px;
  width: 700px;
  color: #4CFF00
}

.version-information {
  font-size: 12px;
  width: 700px;
  color: #4CFF00;
  font-family: outer
}
