/* This is the main CSS */

body {
  background-color: #f1f1f1
}

h1 {
  font-family: outer;
  width: 600px;
}

p {
  font-family: data;
  font-size: 18px;
  width: 700px
}

a {
  font-family: data;
  font-size: 18px;
  width: 700px;
}

hr {
  width: 700px
}
